<div class="container">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Detalle Producto</h2>

                <div class="col-6">
                    <div>
                        <h4>Codigo de Producto</h4>
                        <label class="label col-6">{{product.id}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div>
                        <h4>Producto</h4>
                        <label class="label">{{product.producto}}</label>
                    </div>
                </div>
                <div class="col-7">
                    <div>
                        <h4>Descripcion</h4>
                        <label class="label">{{product.descripcion}}</label>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <h4>Existencia</h4>
                        <label class="label">{{product.cantidad}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <h4>Marca</h4>
                        <label class="label">{{product.marca}}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <h4>Categoria</h4>
                        <label class="label">{{product.categoria}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
